@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-background: #161616;
  --text-color: white;
}



body {
  background: var(--color-background);
}

* {
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
}

button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16pt;
  cursor: pointer;
  font-weight: 700;
  box-shadow: var(--text-color) 2px 2px 5px;
  margin: 0px 2px 2px 0px;
}

a {
  cursor: pointer;
}